.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.content {
  max-width: 1280px;
  width: 100%;
  margin: 100px auto;
}
.card {
  box-shadow: 0px 7px 50px -6px #0000001f;
}
.card-header {
  background-color: #c1e900 !important;
  color: #fff;
}

.card-header h1 {
text-transform: uppercase;
font-size: 22px;
margin: 0%;
}

.btn-add {
  background-color: #aacc04 !important;
  border: #defb55 !important;
  width: 100%;
  padding: 8px 25px !important;
  margin-bottom: 15px;
}
.btn-add:hover {
  opacity: 0.8;
}
.search-field,.data-sorting {
  position: relative;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.form-group {
  width: 48%;
    float: left;
    text-align: left;
    margin-right: 5px;
    margin-bottom: 20px !important;
}

.form-select {
  display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.input-add {
  margin-bottom: 15px;
}
.input-note {
  min-height: 350px;
  margin-bottom: 15px;
}

.btn-submit, .btn-cancel {
  padding: 8px 25px !important;
  margin-bottom: 15px;
  width: 48%;
  margin-right: 5px;

}